pipeline/Schema pipeline.json
{
	"name": "Schema pipeline",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_meta",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Metadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy data",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"value": "@if(equals(item().name,'customers.csv'),pipeline().parameters.customer_schema,if(equals(item().name,'drivers.csv'),pipeline().parameters.driver_schema,if(equals(item().name,'locations.csv'),pipeline().parameters.locations_schema,pipeline().parameters.trips_schema)))",
									"type": "Expression"
								}
							},
							"inputs": [
								{
									"referenceName": "ds_csv_dynamic",
									"type": "DatasetReference",
									"parameters": {
										"p_container": "source",
										"p_folder": "files",
										"p_files": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_csv_dynamic",
									"type": "DatasetReference",
									"parameters": {
										"p_container": "sink",
										"p_folder": "schema",
										"p_files": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"driver_schema": {
				"type": "object",
				"defaultValue": {
					"type": "TabularTranslator",
					"mappings": [
						{
							"source": {
								"name": "driver_id",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "driver_id",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "first_name",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "first_name",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "last_name",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "last_name",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "phone_number",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "phone_number",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "vehicle_id",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "vehicle_id",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "driver_rating",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "driver_rating",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "city",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "city",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "last_updated_timestamp",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "last_updated_timestamp",
								"type": "String",
								"physicalType": "String"
							}
						}
					],
					"typeConversion": true,
					"typeConversionSettings": {
						"allowDataTruncation": true,
						"treatBooleanAsNumber": false
					}
				}
			},
			"customer_schema": {
				"type": "object",
				"defaultValue": {
					"type": "TabularTranslator",
					"mappings": [
						{
							"source": {
								"name": "customer_id",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "customer_id",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "first_name",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "first_name",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "last_name",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "last_name",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "email",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "email",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "phone_number",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "phone_number",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "city",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "city",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "signup_date",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "signup_date",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "last_updated_timestamp",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "last_updated_timestamp",
								"type": "String",
								"physicalType": "String"
							}
						}
					],
					"typeConversion": true,
					"typeConversionSettings": {
						"allowDataTruncation": true,
						"treatBooleanAsNumber": false
					}
				}
			},
			"trips_schema": {
				"type": "object",
				"defaultValue": {
					"type": "TabularTranslator",
					"mappings": [
						{
							"source": {
								"name": "trip_id",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "trip_id",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "driver_id",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "driver_id",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "customer_id",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "customer_id",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "vehicle_id",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "vehicle_id",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "trip_start_time",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "trip_start_time",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "trip_end_time",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "trip_end_time",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "start_location",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "start_location",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "end_location",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "end_location",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "distance_km",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "distance_km",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "fare_amount",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "fare_amount",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "payment_method",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "payment_method",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "trip_status",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "trip_status",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "last_updated_timestamp",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "last_updated_timestamp",
								"type": "String",
								"physicalType": "String"
							}
						}
					],
					"typeConversion": true,
					"typeConversionSettings": {
						"allowDataTruncation": true,
						"treatBooleanAsNumber": false
					}
				}
			},
			"locations_schema": {
				"type": "object",
				"defaultValue": {
					"type": "TabularTranslator",
					"mappings": [
						{
							"source": {
								"name": "location_id",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "location_id",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "city",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "city",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "state",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "state",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "country",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "country",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "latitude",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "latitude",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "longitude",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "longitude",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "last_updated_timestamp",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "last_updated_timestamp",
								"type": "String",
								"physicalType": "String"
							}
						}
					],
					"typeConversion": true,
					"typeConversionSettings": {
						"allowDataTruncation": true,
						"treatBooleanAsNumber": false
					}
				}
			}
		},
		"annotations": [],
		"lastPublishTime": "2026-02-25T06:33:07Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}